---
layout: default
---
<style>
/* Add a gray background color with some padding */
body {
  /*font-family: Arial;*/
  background: #f1f1f1;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.card_transparent {
  /*padding: 20px;*/
  margin-top: 20px;
}

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  margin-top: 20px;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

ul {
  list-style-type: none;
  padding: 0;
}
</style>


<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
  <header class="masthead">
{% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
            <p></p>
            <a class="btn btn-outline-light btn-sg" style="width: 200px; margin-right:10px; margin-left:10px; margin-top:5px; margin-bottom:5px;" href="{{ site.laniakea_documentation }}" type="button" target="_blank">Learn more</a>
            <a class="btn btn-outline-light btn-sg" style="width: 200px; margin-right:10px; margin-left:10px; margin-top:5px; margin-bottom:5px;" href="{{ site.laniakea_dashboard }}" type="button" target="_blank">USE</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

      <!-- ---- -->
      <!-- Left column -->
      <!-- ---- -->
      <div class="col-xs-12 col-sm-6 col-md-8">

        <div class="video-container" align="center">
          <iframe width="720" height="405" src="{{ site.laniakea_video_showcase }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <!--div class="card">
          <h3>Other contents.</h3>
          <div class="fakeimg" style="height:100px;">Image</div>
          <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div-->

      </div> <!-- end left column -->

      <!-- ---- -->
      <!-- Right column -->
      <!-- ---- -->
      <div class="col-xs-6 col-md-4">
 
       <!-- news board -->
        <div class="card">

          {{ content }}

          <!-- Home Post List -->
          <h2>News board</h2>
          {% for post in site.posts limit : 3 %}

          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
              <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% else %}
              <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
            </a>
            <p class="post-meta">Posted by
              {% if post.author %}
              {{ post.author }}
              {% else %}
              {{ site.author }}
              {% endif %}
              on
              {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}</p>
          </article>

          <hr>

          {% endfor %}

          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
          </div>

        </div>

        <!-- contributions -->
        <div class="card">
          <h4>Connect. Collaborate. Contribute.</h4>
            <ul>
              <li><a href="mailto:laniakea.helpdesk@gmail.com" class="fa fa-envelope" title="Email: laniakea.helpdesk@gmail.com" style="color:Teal;font-size:16px"> Contact us</a></li>
              <li><a href="https://github.com/Laniakea-elixir-it" class="fab fa-github" target="_blank" title="https://github.com/Laniakea-elixir-it" style="color:Teal;font-size:16px"> Github</a></li>
              <li><a href="https://github.com/Laniakea-elixir-it/laniakea" class="fa fa-bug" target="_blank" title="https://github.com/Laniakea-elixir-it/laniakea" style="color:Teal;font-size:16px"> Report a bug</a></li>
            </ul>
            <hr>
            <ul>
              <li><a href="https://www.recas-bari.it/AUP.pdf" class="fa fa-file-alt" target="_blank" style="color:Teal;font-size:16px"> Terms of use</a></li>
              <li><a href="/terms-and-policies" class="fa fa-file-alt" target="_blank" style="color:Teal;font-size:16px"> Licenses</a></li>
            </ul>
        </div>

      </div> <!-- end right column -->


    </div>
  </div>

 {% include logo.html %}

